<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>苹果专区排行榜</title>
<meta name="description" content="" />
<link href="css/common.css" rel="stylesheet" type="text/css" />
<script language="javascript" src="js/jquery-1.4.min.js"></script>
 <link href="css/other.css" rel="stylesheet" type="text/css" />

</head>
<body>
<!--顶部 -->
<div class="box_d">
     <div class="top_d">
         <span class="top_d_left"><a href=""  target="_blank">手游天下首页</a></span>
         <span class="top_d_right"><a href=""  target="_blank">安卓</a><a href=""  target="_blank">苹果</a>
         <a href=""  target="_blank">WP</a>
         <a href=""  target="_blank">html5</a><a href=""   target="_blank">手机版</a></span>
     </div>
</div>
<!--LOGO -->
<div class="box_top">
  <div class="t_logo"><img src="images/logo.jpg" tppabs="http://ios.155.cn/file/default/img/logo.jpg" /></div>
  
  <div class="shezhi_ok"></div>
  <div class="t_search">
  <form name="soso"  method="get" action="http://ios.155.cn/search.php" class="left" >
  <label>
   <input type="text" name="kw" id="search_txt" class="t_sousuo"/>
   <input name="button" type="submit" id="search_btn"  class="t_bot" onclick="soso.submit()" value=""/>
  </label>
  </form>
  </div>
<script type="text/javascript">
	void function(){
		var def_val = '请输入查找信息';
		var kw = document.getElementById('search_txt');
		kw.value = def_val;
		kw.onclick = function(){
			this.value = this.value == def_val ? '' : this.value;
		}
		kw.onblur = function(){
			this.value = this.value || def_val;
			this.parentNode.style.cssText = ''
		}
		kw.focus = function(){/*if(this.value == def_val) this.value = '';*/
			this.parentNode.style.cssText = '';
		}
		kw.onmouseover = function(){
			this.focus()
		};
		kw.focus();
		var sb = document.getElementById('search_btn');
		sb.onclick = function(){
			if (kw.value == '' || kw.value == def_val) {
				alert('请输入查找信息');
				return false;
			}
		}
	}();
</script>
</div>
<!--MENU -->
<div class="box_menu">
     <a href="" >首页</a>    
     <a href="" >应用</a>
     <a href="" class="menu1">排行榜</a>
     <a href="" >APP专题</a>
     <a href="" >资讯</a>
     <a href="" target="_blank">社区</a>
</div>


<!--中间版块开始 -->
<div class="box_rank">
      <div class="t_tit" id="t_tit">
          <ul class="t_left_ul">
              <li class="t_tit_li">游戏下载排行榜</li>
              <li>应用下载排行榜</li>
              <li>网游下载排行榜</li>
          </ul>
      </div>
	  <div class="jietus showNow">
				  <dl>
			 <div class="rank_nab">1</div>
			 <a href="" target="_blank"><img src="images/155_cn_4311347527237.jpg"  /></a>
			 <dt><a href="" target="_blank">女巫的黑暗巫毒锅</a></dt>
			 <dd>下载:319 </dd>
			 <dd>2013-04-22</dd>
		  </dl>
				  <dl>
			 <div class="rank_nab">2</div>
			 <a href="" target="_blank"><img src="images/155_cn_9441346925387.jpg" /></a>
			 <dt><a href="" target="_blank">街头棒球</a></dt>
			 <dd>下载:89 </dd>
			 <dd>2012-08-23</dd>
		  </dl>
				  <dl>
			 <div class="rank_nab">3</div>
			 <a href="" target="_blank"><img src="images/155_cn_3211357893778.jpg"/></a>
			 <dt><a href="" target="_blank">飞天鲸鱼</a></dt>
			 <dd>下载:102 </dd>
			 <dd>2013-05-15</dd>
		  </dl>
				  <dl>
			 <div class="rank_nab">4</div>
			 <a href="" target="_blank"><img src="images/155_cn_7681365323460.png"  /></a>
			 <dt><a href="" target="_blank">龙之心</a></dt>
			 <dd>下载:131 </dd>
			 <dd>2013-04-07</dd>
		  </dl>
				  <dl>
			 <div class="rank_nab">5</div>
			 <a href="" target="_blank"><img src="images/155_cn_1281373525396.png"/></a>
			 <dt><a href="" target="_blank">植物大战僵尸2</a></dt>
			 <dd>下载:3446 </dd>
			 <dd>2013-07-11</dd>
		  </dl>
				  <dl>
			 <div class="rank_nab">6</div>
			 <a href="" target="_blank"><img src="images/155_cn_9551350554314.jpg"  /></a>
			 <dt><a href="" target="_blank">拯救世界</a></dt>
			 <dd>下载:39 </dd>
			 <dd>2012-10-18</dd>
		  </dl>
				  <dl>
			 <div class="rank_nab">7</div>
			 <a href="" target="_blank"><img src="images/155_cn_2791345103563.jpg"  /></a>
			 <dt><a href="" target="_blank">智慧与勤劳</a></dt>
			 <dd>下载:57 </dd>
			 <dd>2012-08-16</dd>
		  </dl>
				  <dl>
			 <div class="rank_nab">8</div>
			 <a href="" target="_blank"><img src="images/155_cn_4811357376763.jpg" /></a>
			 <dt><a href="" target="_blank">我画你猜</a></dt>
			 <dd>下载:73 </dd>
			 <dd>2012-07-17</dd>
		  </dl>
				  <dl>
			 <div class="rank_nab">9</div>
			 <a href="" target="_blank"><img src="images/155_cn_2151361522688.png" /></a>
			 <dt><a href="" target="_blank">怪物大战野猪男2 僵尸</a></dt>
			 <dd>下载:533 </dd>
			 <dd>2013-02-22</dd>
		  </dl>
				  <dl>
			 <div class="rank_nab">10</div>
			 <a href="" target="_blank"><img src="images/155_cn_7041350983295.jpg" /></a>
			 <dt><a href="" target="_blank">NBA 2K13</a></dt>
			 <dd>下载:7150 </dd>
			 <dd>2012-10-23</dd>
		  </dl>
				  <dl>
			 <div class="rank_nab">11</div>
			 <a href="" target="_blank"><img src="images/155_cn_3281344589637.jpg" /></a>
			 <dt><a href="" target="_blank">老鼠滑板</a></dt>
			 <dd>下载:104 </dd>
			 <dd>2013-01-30</dd>
		  </dl>
				  <dl>
			 <div class="rank_nab">12</div>
			 <a href="" target="_blank"><img src="images/155_cn_741344506782.jpg"  /></a>
			 <dt><a href="" target="_blank">王国保卫战</a></dt>
			 <dd>下载:108 </dd>
			 <dd>2013-03-15</dd>
		  </dl>
				  <dl>
			 <div class="rank_nab">13</div>
			 <a href="" target="_blank"><img src="images/155_cn_461344331571.jpg"  /></a>
			 <dt><a href="" target="_blank">小龙斯派罗巡逻者</a></dt>
			 <dd>下载:85 </dd>
			 <dd>2012-08-07</dd>
		  </dl>
				  <dl>
			 <div class="rank_nab">14</div>
			 <a href="" target="_blank"><img src="images/155_cn_2351347526836.jpg"  /></a>
			 <dt><a href="" target="_blank">嫌犯追踪</a></dt>
			 <dd>下载:67 </dd>
			 <dd>2012-09-13</dd>
		  </dl>
				  <dl>
			 <div class="rank_nab">15</div>
			 <a href="" target="_blank"><img src="images/155_cn_4801357890775.jpg"  /></a>
			 <dt><a href="" target="_blank">摩托高手乔</a></dt>
			 <dd>下载:95 </dd>
			 <dd>2013-01-11</dd>
		  </dl>
				  <dl>
			 <div class="rank_nab">16</div>
			 <a href="" target="_blank"><img src="images/155_cn_2421346925957.jpg"  /></a>
			 <dt><a href="" target="_blank">跳跃的小狐狸</a></dt>
			 <dd>下载:45 </dd>
			 <dd>2012-09-06</dd>
		  </dl>
				  <dl>
			 <div class="rank_nab">17</div>
			 <a href="" target="_blank"><img src="images/155_cn_4061358242467.jpg"  /></a>
			 <dt><a href="" target="_blank">恶魔大作战</a></dt>
			 <dd>下载:122 </dd>
			 <dd>2012-08-08</dd>
		  </dl>
				  <dl>
			 <div class="rank_nab">18</div>
			 <a href="" target="_blank"><img src="images/155_cn_7361343379230.jpg"  /></a>
			 <dt><a href="" target="_blank">魔力鸟2</a></dt>
			 <dd>下载:90 </dd>
			 <dd>2013-01-09</dd>
		  </dl>
				  <dl>
			 <div class="rank_nab">19</div>
			 <a href="" target="_blank"><img src="images/155_cn_4361346056431.jpg"  /></a>
			 <dt><a href="" target="_blank">涂鸦冒险家</a></dt>
			 <dd>下载:80 </dd>
			 <dd>2013-01-28</dd>
		  </dl>
				  <dl>
			 <div class="rank_nab">20</div>
			 <a href="" target="_blank"><img src="images/155_cn_1751345024456.jpg" /></a>
			 <dt><a href="" target="_blank">超级逃脱</a></dt>
			 <dd>下载:86 </dd>
			 <dd>2013-03-11</dd>
		  </dl>
				  <dl>
			 <div class="rank_nab">21</div>
			 <a href="" target="_blank"><img src="images/155_cn_8781368429506.png"  /></a>
			 <dt><a href="" target="_blank">六发左轮</a></dt>
			 <dd>下载:6679 </dd>
			 <dd>2013-05-13</dd>
		  </dl>
				  <dl>
			 <div class="rank_nab">22</div>
			 <a href="" target="_blank"><img src="images/155_cn_9291342164213.jpg"  /></a>
			 <dt><a href="" target="_blank">水果忍者</a></dt>
			 <dd>下载:5513 </dd>
			 <dd>2012-07-13</dd>
		  </dl>
				  <dl>
			 <div class="rank_nab">23</div>
			 <a href="" target="_blank"><img src="images/155_cn_791378112580.png"  /></a>
			 <dt><a href="" target="_blank">霸略天下</a></dt>
			 <dd>下载:360 </dd>
			 <dd>2013-09-02</dd>
		  </dl>
				  <dl>
			 <div class="rank_nab">24</div>
			 <a href="" target="_blank"><img src="images/155_cn_3781363943982.png" /></a>
			 <dt><a href="" target="_blank">神奇蒂姆</a></dt>
			 <dd>下载:88 </dd>
			 <dd>2013-04-10</dd>
		  </dl>
				  <dl>
			 <div class="rank_nab">25</div>
			 <a href="" target="_blank"><img src="images/155_cn_2011364379739.png"/></a>
			 <dt><a href="" target="_blank">弹幕无限 2 ：子弹地狱</a></dt>
			 <dd>下载:125 </dd>
			 <dd>2013-03-27</dd>
		  </dl>
				  <dl>
			 <div class="rank_nab">26</div>
			 <a href="" target="_blank"><img src="images/155_cn_2171349943623.jpg" /></a>
			 <dt><a href="" target="_blank">僵尸炮手</a></dt>
			 <dd>下载:109 </dd>
			 <dd>2013-02-26</dd>
		  </dl>
				  <dl>
			 <div class="rank_nab">27</div>
			 <a href="" target="_blank"><img src="images/155_cn_9371347876663.jpg" /></a>
			 <dt><a href="" target="_blank">僵尸啪啪啪</a></dt>
			 <dd>下载:85 </dd>
			 <dd>2013-01-10</dd>
		  </dl>
				  <dl>
			 <div class="rank_nab">28</div>
			 <a href="" target="_blank"><img src="images/155_cn_6851346318199.jpg"  /></a>
			 <dt><a href="" target="_blank">逃出时间怪物</a></dt>
			 <dd>下载:45 </dd>
			 <dd>2012-08-30</dd>
		  </dl>
				  <dl>
			 <div class="rank_nab">29</div>
			 <a href="" target="_blank"><img src="images/155_cn_31344932897.png"  /></a>
			 <dt><a href="" target="_blank">迷你怪物</a></dt>
			 <dd>下载:51 </dd>
			 <dd>2012-08-14</dd>
		  </dl>
				  <dl>
			 <div class="rank_nab">30</div>
			 <a href="" target="_blank"><img src="images/155_cn_3861343124685.jpg" /></a>
			 <dt><a href="" target="_blank">茜女忍者</a></dt>
			 <dd>下载:41 </dd>
			 <dd>2012-07-24</dd>
		  </dl>
			 </div>
</div>	  
<!--版权开始 -->
<div class="box_foot">
     <div class="foot_zi">
          <p class="foot_menu">
            <a target="_blank" href="">手机游戏</a> |<a target="_blank" href="">安卓游戏</a> |
			<a target="_blank"  href="" >安卓软件</a> |
			<a target="_blank"  href="">关于手游天下</a> | <a target="_blank"  href="" rel="nofollow" >联系我们</a> | <a target="_blank"  href="" rel="nofollow" >版权申明</a> | <a target="_blank"  href="" rel="nofollow">帮助中心</a> | <a target="_blank" href="" rel="nofollow" >客户服务</a> | <a target="_blank" href="">网站地图</a>
     <p class="foot_copyright">
             Copyright 2006-2010 155.cn  All Rights Reserved 粤ICP备<a target="_blank" href="" rel="nofollow">08023770</a>号<br />增值电信业务经营许可证 粤B2-20080119
          </p>
     </div>
    
</div>
<!--版权结束 -->
</body>
</html><script type="text/javascript">
	void function(){
	$("#t_tit li").each(function(index){
		$(this).click(function(){
			$(this).siblings().removeClass("t_tit_li").end().addClass("t_tit_li");
			$(".showNow").removeClass("showNow");
			$(".jietus").eq(index).addClass("showNow");
		});
	});
	}();
</script>
