<include file="Public::header" />

</head>
<body>
<div id="main">
    <div id="left">
        <div id="menu_sty">
            <div id="munu_sty_s">
                <include file="Public::menu" />
            </div>
        </div>
    </div>
    <div id="right">
        {$error}
        <form enctype="multipart/form-data" method="post" action="<?php echo WEB_NAME; ?>/index.php/AppAdmins/editapp">
            <input type="hidden" name="id" value="{$list.id}">
            <table>
                 <tr>
            <td>应用名</td>
            <td><input type='text' name='appname' value='{$list.appname}'></td>
        </tr>
        <tr>
            <td>应用类型</td>
            <td>
                <select name='apptype'>
                    <option value=''>选择类型</option>
                <foreach name='type_list' item='tlist'>
                    <option value='{$tlist.type_id}'  <?php if($list['apptype']==$tlist['type_id']){ ?>  selected="selected"  <?php  } ?>>{$tlist.type_name}</option>
                </foreach>          
                </select>
            </td>
        </tr>
        <tr>
            <td>收费类型</td>
            <td>
                <select name='money'>
                    <option value='否' <?php if($list.money=='否'){ ?>  selected="selected"  <?php  } ?> >否</option>
                    <option value='是' <?php if($list.money=='是'){ ?>  selected="selected"  <?php  } ?> >是</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>应用别名</td>
            <td>
            <input type='text' name='appshowname' value='{$list.appshowname}'>
            </td>
        </tr>
        <tr>
            <td>版本</td>
            <td>
            <input type='text' name='appversion' value='{$list.appversion}'>
            </td>
        </tr>
        <tr>
            <td>语言</td>
            <td>
                <select name='applanguage'>
                    <option value='中文' <?php if($list['applanguage']=='中文'){ ?>  selected="selected"  <?php  } ?> >中文</option>
                    <option value='英文' <?php if($list['applanguage']=='英文'){ ?>  selected="selected"  <?php  } ?> >英文</option>
                    <option value='其他' <?php if($list['applanguage']=='其他'){ ?>  selected="selected"  <?php  } ?> >其他</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>系统</td>
            <td>
                <select name='appsystem'>
                    <option  value='Android' <?php if($list['appsystem']=='Android'){ ?>  selected="selected"  <?php  } ?> >Android</option>
                    <option  value='IOS' <?php if($list['appsystem']=='IOS'){ ?>  selected="selected"  <?php  } ?> >IOS</option>
                    <option  value='WP' <?php if($list['appsystem']=='WP'){ ?>  selected="selected"  <?php  } ?> >WP</option>
                    <option  value='HTMP5' <?php if($list['appsystem']=='HTMP5'){ ?>  selected="selected"  <?php  } ?> >HTMP5</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>应用下载地址</td>
            <td>
                <input type='text' name='apphome' value='{$list.apphome}'>
            </td>
        </tr>
        <tr>
            <td>图标</td>
            <td>
                <img src="{$list.appimage}" width="100px" height="100px">
                <input type="hidden" name="appimages" value="{$list.appimage}">
                <input type="file" name="appimage"/>
            </td>
        </tr>
        <tr>
            <td>应用来源</td>
            <td><input type='text' name='come' value='{$list.come}'></td>
        </tr>
        <tr>
            <td>应用简介</td>
            <td>
                <textarea rows="3" cols="20" name='summary'>
                {$$list.summary}
                </textarea>
            </td>
        </tr>
        <tr>
            <td>更新说明</td>
            <td>
            <textarea rows="3" cols="20" name='upsummary'>
            {$list.upsummary}
                </textarea>
            </td>
        </tr>
                <tr>
                    <td colspan="2"><input type="submit" name="subapp" value="提交"></td>
                </tr>
            </table>
        </form>
    </div>
</div>
<div id="footer">
    <include file="Public::footer" />
</div>
</body>
</html>