<include file="Public::header" />

</head>
<body>
<div id="main">
    <div id="left">
        <div id="menu_sty">
            <div id="munu_sty_s">
                <include file="Public::menu" />
            </div>
        </div>
    </div>
    <div id="right">
        {$error}
        <form enctype="multipart/form-data" method="post" action="<?php echo WEB_NAME; ?>/index.php/AppAdmins/editnews">
            <input type="hidden" name="nids" value="{$list.id}">
            <table>
                 <tr>
                     <td>标题</td>
                     <td><input type="text" name="title" value="{$list.title}"></td>
                 </tr>
                <tr>
                    <td>作者</td>
                    <td><input type="text" name="author" value="{$list.author}"></td>
                </tr>
                <tr>
                    <td>来源</td>
                    <td><input type="text" name="come" value="{$list.come}"></td>
                </tr>
                <tr>
                    <td>咨询类型</td>
                    <td>
                    <select name='newtype'>
                        <option value=''>选择类型</option>
                        <option value='新游评测' <?php if($list['newtype']=='新游评测'){ ?>  selected="selected"  <?php  } ?> >新游评测</option>
                        <option value='游戏新闻' <?php if($list['newtype']=='游戏新闻'){ ?>  selected="selected"  <?php  } ?> >游戏新闻</option>
                        <option value='福利新闻' <?php if($list['newtype']=='福利新闻'){ ?>  selected="selected"  <?php  } ?> >福利新闻</option>
                    </select>
                    </td>
                </tr>
                <tr>
                    <td>图片</td>
                    <td>
                        <img src="{$list.newimage}" width="100px" height="100px">
                        <input type="hidden" name="newimages" value="{$list.newimage}">
                        <input type="file" name="newimage"/>
                    </td>
                </tr>
                <tr>
                    <td>所属系统</td>
                    <td>
                        <select name='newsystem'>
                            <option  value='Android' <?php if($list['newsystem']=='Android'){ ?>  selected="selected"  <?php  } ?> >Android</option>
                            <option  value='IOS' <?php if($list['newsystem']=='IOS'){ ?>  selected="selected"  <?php  } ?> >IOS</option>
                            <option  value='WP' <?php if($list['newsystem']=='WP'){ ?>  selected="selected"  <?php  } ?> >WP</option>
                            <option  value='HTMP5' <?php if($list['newsystem']=='HTMP5'){ ?>  selected="selected"  <?php  } ?> >HTMP5</option>
                        </select>
                    </td>
                </tr>
                 <tr>
                    <td>内容</td>
                    <td>
                        <textarea name="content" row="5" col="10">
                            {$list.content}
                        </textarea>
                    </td>
                </tr>
                <tr>
                    <td colspan="2"><input type="submit" name="subnew" value="提交"></td>
                </tr>
            </table>
        </form>
    </div>
</div>
<div id="footer">
    <include file="Public::footer" />
</div>
</body>
</html>